<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Document Generator</title>
    <link rel="stylesheet" href="../static/style/main.css">
</head>
<body>
    <main>
        <div class="greet">
            <h1>
                Wellcom to Automated Document Generator
            </h1>
            <p>Enjoy with our system</p>
        </div>
        <div class="option">
            <a href="/">
                Generate Transcript
            </a>
            <a href="/">
                Generate Certificate
            </a>
        </div>
    </main>
</body>
</html>